<div class="create-button">
  <button (click)="createUser()"
          mat-raised-button ><mat-icon>add</mat-icon>Create
  </button>
</div>
<table class="table">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Firstname</th>
    <th scope="col">Username</th>
    <th scope="col">Email</th>
    <th scope="col">Edit</th>
    <th scope="col">Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of userList">
    <td>{{user.id}}</td>
    <td>{{user.first_name}}</td>
    <td>{{user.username}}</td>
    <td>{{user.email}}</td>
    <td><button (click)="updateUser(user.id)"
                mat-button color="warn"><mat-icon>edit</mat-icon>
    </button></td>
    <td><button (click)="onDelete(user.id)"
                mat-button color="warn"><mat-icon>delete</mat-icon>
    </button></td>
  </tr>
  </tbody>
</table>

