<h1 *ngIf="isAddMode">Add Customer</h1>
<h1 *ngIf="!isAddMode">Edit Customer</h1>

<form [formGroup]="customerForm" class="normal-class">
  <mat-grid-list cols="2" rowHeight="300px">
    <mat-grid-tile>
      <div class="style-grid">
        <mat-form-field>
          <input formControlName="first_name" matInput placeholder="First name*" >
          <mat-error>Please complete this field!</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="last_name" matInput placeholder="Last name*" >
          <mat-error>Please complete this field!</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="company_name" matInput placeholder="Company name*" >
          <mat-error>Please complete this field!</mat-error>
        </mat-form-field>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="style-grid">
        <div class="button-class">
          <button mat-raised-button color="primary" type="submit" (click)="onSubmit()" [disabled]="customerForm.invalid">Submit</button>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</form>
